* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

button {
  border: none;
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

body {
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #FDFFFC;
  background: #011627; }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 15px; } }
  @media only screen and (max-width: 800px) {
    body {
      font-size: 13px; } }

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%; }

.nav {
  margin-bottom: 70px;
  font-size: 3em;
  border-bottom: 5px solid #FDFFFC; }

.newTask {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px; }
  .newTask__value {
    height: 30px;
    width: 100%;
    padding: 0 90px 0 16px;
    background: transparent;
    border: 1px solid #FDFFFC;
    border-radius: 50px;
    color: #FDFFFC; }
  .newTask__add {
    position: absolute;
    right: 0;
    height: 30px;
    margin-left: 16px;
    padding: 0 16px;
    border: 1px solid #FDFFFC;
    border-radius: 50px;
    background-color: #FDFFFC;
    color: #011627;
    transition: all 0.2s ease; }
    .newTask__add:hover {
      color: #FDFFFC;
      background-color: #2DC473;
      border: 1px solid #FDFFFC; }

.editTask {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1; }
  .editTask__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 100px;
    padding: 15px;
    border-radius: 15px;
    background: #FDFFFC; }
  .editTask__value {
    height: 30px;
    width: 100%;
    padding: 0 16px;
    background: transparent;
    border: 1px solid #011627;
    border-radius: 50px;
    color: #011627; }
  .editTask__edit {
    height: 30px;
    margin-top: 10px;
    padding: 0 16px;
    border: 1px solid #011627;
    border-radius: 50px;
    background-color: #FDFFFC;
    color: #011627;
    transition: all 0.2s ease; }
    .editTask__edit:hover {
      color: #FDFFFC;
      background-color: #1c67e7;
      border: 1px solid #FDFFFC; }
  .editTask__close {
    cursor: pointer;
    transition: all 0.2s ease; }
    .editTask__close:hover {
      color: #E71D36; }

.tasks {
  width: 100%; }
  .tasks__task {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 30px;
    margin: 0 auto 10px;
    padding: 0 16px;
    background-color: #FDFFFC;
    border: 2px solid #FDFFFC;
    border-radius: 50px;
    color: #011627;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease; }
    .tasks__task--done {
      background-color: #DEFFCE;
      border: 2px solid #2DC473; }
    .tasks__task:hover {
      background-color: #DEFFCE; }
  .tasks__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%; }
  .tasks__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin-right: 5%; }
  .tasks__item--done {
    text-decoration: line-through; }
  .tasks__options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%; }
  .tasks__delete {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(231, 29, 54, 0.3);
    transition: all 0.2s ease;
    margin-left: 10px; }
    .tasks__delete:hover {
      color: #e71d36; }
  .tasks__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(28, 103, 231, 0.3);
    transition: all 0.2s ease; }
    .tasks__edit:hover {
      color: #1c67e7; }

.footer {
  position: fixed;
  height: 20px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 0.5em;
  color: #011627;
  background-color: #FDFFFC; }
