// *********************************
// Colors
// *********************************
$main-color: #011627;
$font-color: #FDFFFC;
$success-color: #2DC473;
$danger-color: #E71D36;
$edit-color: #1c67e7;

// *********************************
// Font
// *********************************
$main-font: 'Lato', sans-serif;
