// *********************************
// tasks
// *********************************

.tasks {
  width: 100%;

  &__task {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 30px;
    margin: 0 auto 10px;
    padding: 0 16px;
    background-color: $font-color;
    border: 2px solid $font-color;
    border-radius: 50px;
    color: $main-color;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;

    &--done {
      background-color: #DEFFCE;
      border: 2px solid $success-color;
    }

    &:hover {
      background-color: #DEFFCE;
    }
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
  }

  &__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin-right: 5%;
  }

  &__item {

    &--done {
      text-decoration: line-through;
    }
  }

  &__options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
  }

  &__delete {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($danger-color, 0.3);
    transition: all 0.2s ease;
    margin-left: 10px;

    &:hover {
      color: rgba($danger-color, 1);
    }
  }

  &__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($edit-color, 0.3);
    transition: all 0.2s ease;

    &:hover {
      color: rgba($edit-color, 1);
    }
  }
}
